# **** IDEs/Editors

.vscode

# **** Erlang ****

.eunit
*.o
*.beam
*.plt
erl_crash.dump
.concrete/DEV_MODE

# rebar 2.x
.rebar
rel/example_project
ebin/*.beam
deps

# rebar 3
.rebar3
_build/
_checkouts/

# **** Odin ****

# We may want to allow this eventually. Currently contains hardcoded paths and
# thus isn't portable.
ols.json

# **** Build Artifacts

_build